@model EventCalenderApp.Models.ViewModels.RegistrationDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Registration Detail</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-info">
        @Html.Raw(TempData["msg"])
    </div>
}
<div>

    <hr/>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit Details", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "col-md-offset-1 btn btn-info" })
    </p>
</div>

