<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Event Calendar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole(AppEnum.RoleEnum.Adminstrator.ToString()))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Event Info<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Event Type", "EventType", "Event")</li>
                                <li>@Html.ActionLink("Event Venue", "EventVenue", "Event")</li>
                                <li>@Html.ActionLink("Create Event", "CreateEvent", "Event")</li>
                                <li>@Html.ActionLink("Publish Event", "ViewEvent", "Event")</li>
                                <li>@Html.ActionLink("Active Event", "EventIndex", "Event")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Registration Info<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Create Registration", "Create", "RegistrationDetails")</li>
                                <li>@Html.ActionLink("Index", "Index", "RegistrationDetails")</li>
                            </ul>
                        </li>
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Event Calendar Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
